.button {
  background-color: transparent;
  color: var(--title);
  padding: calc(var(--size-md) - var(--size-xs));
  border: none;
  border: var(--size-xxs) solid var(--primary-light);
  border-radius: var(--size-sm);
  font-size: 1.6rem;
  min-height: 3.6rem;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: var(--primary-light);
}
