.container {
  display: flex;
  justify-content: space-between;
  gap: var(--size-xl);
}

.heroBanner {
  width: 50%;
  max-height: 600px;
  object-fit: cover;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  gap: var(--size-md);
  flex: 1;
}

form button {
  margin-top: var(--size-sm);
}

.secondaryLink {
  display: block;
  text-align: center;
  font-size: 1.2rem;
  color: var(--text-dark);
}

.codeWrapper {
  display: flex;
  gap: var(--size-md);
  justify-content: center;
}

.digitInput {
  width: 6.4rem;
  height: 6.4rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--title);
  background-color: transparent;
  border: var(--size-xxs) solid var(--title);
  border-radius: var(--size-sm);
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.digitInput:focus {
  border-color: var(--secondary);
}

.digitInputError {
  border-color: var(--error);
}

.errorMessage {
  color: var(--error);
  font-size: 1.2rem;
  margin: 0;
  display: block;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .heroBanner {
    width: 0;
    position: absolute;
  }
}
