.containerBackground {
  min-height: 100dvh;
  display: flex;
  justify-content: end;
  flex-direction: column;
  text-align: center;
  gap: var(--size-xl);
  padding: calc(var(--size-xl) + var(--size-md)) var(--size-md);
  background-size: cover;
  background-position: center;
  position: relative;
}

.containerBackground::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    #060606 20%,
    #060606 0%,
    transparent 100%
  );
}

.containerBackground > * {
  position: relative;
  z-index: 1;
}
