.container {
  height: 100vh;
  display: flex;
  justify-content: end;
  flex-direction: column;
  text-align: center;
  gap: var(--size-xl);
  padding: calc(var(--size-xl) + var(--size-md)) var(--size-md);
}
