.container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: var(--size-md);
  width: 100%;
}

.container > *:first-child {
  flex: 1;
}

.responsive {
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .responsive {
    justify-content: center;
  }

  .responsive > :first-child {
    width: 100%;
    flex: 0 0 100%;
  }

  .responsive > :first-child input {
    width: 100%;
  }
}

.sideBySide {
  flex-wrap: nowrap;
}

@media (max-width: 768px) {
  .sideBySide {
    justify-content: space-between;
  }
}
