.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--size-md);
}

.container > :first-child {
  width: 100%;
}

@media (max-width: 768px) {
  .container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .container > :first-child {
    flex: 0 0 100%;
  }
}
