form {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: var(--size-md);
}

form button {
  margin-top: var(--size-sm);
}

.secondaryLink {
  text-align: center;
  font-size: 1.2rem;
  color: var(--text-dark);
}
