* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Sequel Sans", sans-serif;
  font-size: 1.6rem;
  background-color: var(--primary-light-contrast);
  color: var(--text-default);
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--title);
}

h1 {
  font-size: clamp(2rem, 4vw, 3.2rem);
}
h2 {
  font-size: clamp(1.6rem, 3vw, 2.4rem);
}
h3 {
  font-size: clamp(1.4rem, 2.5vw, 2rem);
}
h4,
h5 {
  font-size: clamp(1.2rem, 2vw, 1.6rem);
}

a {
  text-decoration: none;
  color: var(--title);
  transition: color 0.3s ease-in-out;
}

.highlight,
a:hover {
  color: var(--secondary);
}

p {
  color: var(--text-default);
}

input,
button {
  width: 100%;
}

button:hover {
  cursor: pointer;
}
