.header {
  display: flex;
  flex-direction: column;
  gap: var(--size-sm);
}

.header h1 {
  font-size: var(--size-lg);
}

.muscleGroup {
  color: var(--secondary);
}

.author {
  color: var(--text-dark);
}
