.previousPage {
  display: flex;
  align-items: center;
  color: var(--title);
  background-color: transparent;
  border: none;
}

.title {
  width: calc(100% - var(--size-lg));
  text-align: center;
  font-size: calc(var(--size-xs) + var(--size-md));
  font-weight: 600;
}
