.meatballsMenu {
  width: fit-content;
  position: relative;
}

.ellipsis {
  background-color: transparent;
  color: var(--title);
  border: none;
  transition: color 0.3s ease-in-out;
}

.ellipsis:hover {
  color: var(--secondary);
}

.meatballsMenuOptions {
  background-color: var(--primary-light);
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--size-sm);
  list-style-type: none;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 10;
}

.meatballsMenuOptions li a {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: var(--size-sm);
  padding: var(--size-sm);
  overflow-x: hidden;
}
