.container {
  display: flex;
  align-items: center;
  gap: var(--size-md);
  cursor: pointer;
  box-sizing: border-box;
  border: 2px solid transparent;
}

.img {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: var(--size-sm);
}

.container p {
  font-weight: bold;
}

.selected {
  border-color: var(--secondary);
  padding: calc(var(--size-sm) - 2px);
  border-radius: var(--size-sm);
}
