.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--size-md);
  border-radius: var(--size-sm);
  cursor: pointer;
  outline: var(--size-xxs) solid transparent;
  transition: outline 0.3s ease-in-out;
}

.container:hover {
  outline: var(--size-xxs) solid var(--title);
}

.content {
  display: flex;
  gap: var(--size-md);
}

.img {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: var(--size-sm);
}

.exerciseName,
.date {
  color: var(--text-dark);
}

.showBtn {
  width: fit-content;
  background-color: transparent;
  border: none;
  color: var(--secondary);
}
