.container {
  display: flex;
  align-items: center;
  gap: var(--size-sm);
}

.label span {
  color: var(--title);
}

.input {
  width: var(--size-md);
  height: var(--size-md);
}

.input:checked {
  accent-color: var(--secondary);
}
